*{
    color: rgb(0, 0, 0);
    padding: 0%;
    margin: 0%;
    /* background-color: rgb(255, 247, 247); */
}
html{
    scroll-behavior:smooth
}
::selection {
    color: red;
    background: rgb(254, 176, 255);
    -webkit-text-fill-color: darkred;
}
a{
    text-decoration: none;
}
#ma4{
    opacity: 0;
    height: 0px;
    visibility: hidden;
    display: none;
    display: block;
    line-height: 0;

}


#navbar{
  
         position: absolute;
         top:100%;
         /* z-index: 1; */
         opacity: 0;
         pointer-events: none;
   
     
}


label{
    z-index: 1;
    display:flex;
    opacity: 1;
     flex-direction:column;
     width:70px;
     cursor:pointer;
     position: sticky;
     left: 0px;
     top: 0px;
   }
   
   label span{
     background: #000000;
     border-radius:10px;
     height:7px;
     margin: 7px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   span:nth-of-type(1){
     width:50%;
     
   }
   
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   
   
   input[type="checkbox"]{
     display:none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(8px,0px)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(30px,-11px) rotatez(45deg);
   
   }
   

@keyframes bgp {
    0%{

        background: linear-gradient(to right, rgb(121,31,162),rgb(103,58,183),rgb(244,143,177),rgb(123,31,162));
        -webkit-background-clip:text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25%{
        background: linear-gradient(to right, rgb(103,58,183),rgb(167, 244, 143),rgb(123,31,162)), rgb(121,31,162);
        -webkit-background-clip:text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50%{
        background: linear-gradient(to right, rgb(244,143,177),rgb(123,31,162)), rgb(162, 155, 31),rgb(103,58,183);
        -webkit-background-clip:text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75%{
        background: linear-gradient(to right, rgb(123,31,162)), rgb(121,31,162),rgb(103,58,183),rgb(215, 214, 214);
        -webkit-background-clip:text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    100%{
        background: linear-gradient(to right, rgb(31, 162, 151),rgb(103,58,183),rgb(244,143,177),rgb(123,31,162));
        -webkit-background-clip:text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
}
#hi{
    /* position: absolute;
    left: 3%;
    top:23%; */
    margin-top: 30%;
    display: flex;
    font-size: 200%;
    color: #ffc3f9;
    background: linear-gradient(to right, rgb(121,31,162),rgb(103,58,183),rgb(244,143,177),rgb(123,31,162));
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bgp 3s linear infinite;
    z-index: 1;
    margin-left: 5%;
}
#dev{
    /* position: absolute;
    left: 3%;
    top: 45%; */
    display: flex;
    font-size: 200%;
    /* color: #ffc3f9; */
    background: none;
    background: linear-gradient(to right, rgb(121,31,162),rgb(103,58,183),rgb(244,143,177),rgb(123,31,162));
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bgp 3s forwards infinite;
    margin-left: 5%;

}
#titleee {
    /* position: absolute;
    top:25%;
    left: 3%; */
display: flex;
    font-size: 100px;
    background-image: none;
    margin-left: 5%;
    background: none;
    color: rgb(0, 0, 0);
}
#vnaav{
    opacity: 0;
    position: absolute;
    display: flex;
    position: absolute;
    top: 0px;
    z-index: 0;  
    padding-top:30px ;
    flex-direction: column;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-size: 30px;
    height: 110%;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#titleee:hover{
    font-size: 800%;
     background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 2);
    padding-left:15px ;
    padding-right: 15px;

}
/* k */
#scrollDown {
    width: 45px;
    height: 70px;
    border: #000000 solid 3px;
    border-radius: 30px;
    display: flex;
    position: absolute;
    left: 46%;
    justify-content: center;
    }

#scrollDown span {
    background-color: #28031e;
    width: 5px;
    height: 10px;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
}


#scrollDown span::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: none;
    border-right: 2px solid #2cb68a;
    border-top: 2px solid #ff0d0d;
    transform: translateY(-10px) rotate(135deg);
    left: -6px;
    margin-top: 10px;
    opacity: 0;
    animation: ani 1.8s infinite linear;
}



#scrollDown span::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: none;
    border-right: 2px solid #6f00ff;
    border-top: 2px solid #4c00ff;
    transform: translateY(-10px) rotate(135deg);
    left: -6px;
    margin-top: 10px;
    opacity: 0;

    animation: ani 1.8s infinite linear;
    animation-delay: 0.8s;
}
#table, th, td{
    border: 2px solid #000000 ;
    /* padding: 5%; */
    padding:8%;
 
    /* width: 100%; */
font-family:cursive;

}
#tabl{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5%;
}

@keyframes ani {
    0% {
        margin-top: 10px;
        opacity: 0;
    }

    50% {
        margin-top: 25px;
        opacity: 1;
    }

    100% {
        margin-top: 40px;
        opacity: 0;
    }
}


#expertise{
    font-family: "Poppins",Sans-serif;
    font-size: 70px;
    font-weight: 540;
    line-height: 1.4em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 300px;
margin-bottom: 120px;
   height: 30px;
}

/* k */

#thome,#twork,#texperience,#tcontact,#texpertise{
    padding: 50px;
    width: 100%;

}
@media (max-width: 768px) {
    #table, th, td{
display: inline-block ;
        width:100%;

}
}
@media (min-width: 768px) {
    label{
        opacity: 0;
    }
    #table, th, td{
        border: 2px solid #000000 ;
        /* padding: 5%; */
        padding:8%;
    font-family:cursive;
    
    }
    #tabl{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.5%;
    }
    #ma4{
        opacity: 0;
        height: 100%;
       
            opacity: 0;
            height: 100%;
            visibility: visible;
            display: flex;
            display: flex;
            line-height: 1;
   
    }
    #vnaav{
       
            display: block; 
            line-height:0;
            overflow: hidden;
            height: 0;
            background-color: #11535a;
    pointer-events: none;
    cursor: pointer;
    }
    #navbar{

        position: -webkit-sticky;
        position: sticky;
             /* z-index: 1; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
             opacity: 1;
             pointer-events: all;
             color: black;
             font-size: 200%;
             top: 0px;
             left: 25%;
          
            background: none;
             background-image: none;
         
    }
    #thome,#twork,#texperience,#tcontact,#texpertise{
        /* background-color: rgb(255, 247, 247); */
    padding: 0;
    }    /* styles for screens 768px wide or larger go here */


#expertise{
        font-family: "Poppins",Sans-serif;
        font-size: 75px;
        font-weight: 600;
        line-height: 1.4em;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
       margin-top: 27%;
       height: 30px;
       margin-bottom: 0px;
}


#naav,#deep{
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}
#hi{
    margin-top: 12%;
    margin-left: 3%;
}
#titleee{
    font-size: 700%;
    margin-left: 3%;
}
#dev{
    margin-left: 3%;
}
}

  

@media (max-width:511px) {
    #dev{
        top: 450px;
    }

 }


